.headerRow{
  display: flex;
  flex: 1;
  background-color: #A8A8A8;
  height: 60px;
  line-height: 60px;
  padding-left: 50px;
}
.rowView{
  display: flex;
  flex: 1;
  height: 40px;
  line-height: 40px
}
.cell{
  flex: 1;
  /*border: 1px solid;*/
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.headerCell{
  flex: 1;
  /*border: 1px solid;*/
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkListEach{
  border: 1px solid #666;
  height: 10px;
  width: 10px;
  margin-top: 15px;
  margin-left: 10px;
  /*margin-left: 10px;*/
}
.columnBodyWrap{
  display: flex;
}
.tableColumnsWrap{
  display: flex;
}
.tableBodyWrapper{
  flex: 1;
}
.checkListColumnView{
  width: 50px;
}
.checkListWrap{
  height: 38px;
  /*padding-top: 12px;*/
  border: 1px solid #fff;
  /*line-height: 0px;*/
}
.tableBodyView{
  min-width:700px;
  overflow: auto;
}
.searchBarCell{
  flex: 1;
  /*border: 1px solid;*/
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 5px 0px 5px;
}
.searchBarRow{
  display: flex;
  flex: 1;
  background-color: #D8D8D8;
  height: 60px;
  line-height: 60px;
  padding-left: 50px;
}
