.tab-cell{
  text-decoration: none;
  flex: 1;
  background-color: #ccc;
  border: 1px solid #666;
}
ul{
  list-style-type: none;
}
.tab-wrapper{
  display: flex;
  justify-content: flex-end;
  padding: 0px;
}
